{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
    <h1>Intervention index</h1>

    {{ include("intervention/liste.html.twig") }}

    <a href="{{ path('app_intervention_new') }}">Create new</a>
{% endblock %}
