{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
    <h1>Intervention index</h1>
    {{ include('_search.html.twig') }}

    {{ include("intervention/_liste.html.twig") }}

    <a href="{{ path('app_intervention_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
