<form method="post" action="{{ path('app_client_delete', {'id': client.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">

{{ block('delete','buttons.html.twig') }}
	{# <button class="btn btn-primary">
		<i class="bi bi-trash"></i>
		Delete</button> #}
</form>
