<form action="POST">
  <label for="nom">nom</label><input type="text" name="nom" id="nom" />
  <label for="prenom">prenom</label><input type="text" name="prenom" id="prenom" />
  <label for="phone">phone</label><input type="phone" name="phone" id="phone" />
    <input type="submit" value="valider">
</form>

{{ form(form) }}