{# <form action="{{ path('app_client_search',{s:'aaaa'}) }}" method="get">
<input type="text" name="s" id="q" placeholder='cherche'>
<button>chercher</button>
</form> #}
<div class="input-group w-25">
	<i class="bi bi-search input-group-text"></i>
	<input type="text" name="s" id="q" class="search-input-js form-control" placeholder="chercher">
</div>